
 body{
    background-color: black;
    color: floralwhite;
    margin: 0px;
    padding: 0px;
    
}
header::before{

    background: url('https://source.unsplash.com/user/erondu/1600x900') no-repeat center center/cover;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    opacity: 0.5;
}
.navigation{

    display: flex;
}
section::before {
     content: " This is a content ";
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 224, 49);
    margin: 30px 23px;
    height:fit-content
}

li{
    list-style: none;
    margin: 20px 25px;

}
li a{
    color: floralwhite;
    text-decoration: none;
}
li a:hover{
    color:ivory;
    background-color: khaki;
    text-decoration: none;
}
section h2{
               font-family: 'Merienda One', cursive;
               font-size: 50px;
    margin-top: 2px;
    margin-bottom: 9px;
}
section p{
    font-family: 'Prompt', sans-serif;
}


.search{

    height: 25px;
    margin-top: 20px;
    float: left;
    margin: 15px 800px;
    background: none;


}